{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}

{% block body %}

<section>
    {% include "registration/userFormOnly.html.twig" %}
</section>
{% endblock %}
