@font-face {
    font-family: "bonvivant";
    src: url("./BonVivant-Regular.woff2") format("woff2"),
        url("./BonVivant-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Intro";
    src: url("./IntroRegular.woff2") format("woff2"),
        url("./IntroRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Intro";
    src: url("./IntroBold.woff2") format("woff2"),
        url("./IntroBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Intro";
    src: url("./IntroRegularItalic.woff2") format("woff2"),
        url("./IntroRegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "IntroLight";
    src: url("./IntroLight.woff2") format("woff2"),
        url("./IntroLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Syabab";
    src: url("./SyababBrushScript-demo.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Industry";
    src: url("./IndustryIncInline.woff2") format("woff2"),
        url("./IndustryIncInline.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Industry";
    src: url("./IndustryIncInline.woff2") format("woff2"),
        url("./IndustryIncInline.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("./Barlow-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
