{% extends 'mail/layout.html.twig' %}

{% block title %}
       Confirmation du changement de mot de passe
{% endblock %}

{% block message %}
    <p>
		Bonjour {{ user.fullname  }},
		<br/>
		<br/>Le changement de votre mot de passe a bien été pris en compte.
	</p>
	<br/>
	<br/>
	<p>
		À votre service,
		<br/>L'équipe
	</p>
{% endblock %}
