{% extends "mail/layout.html.twig" %}

{% block title %}
    Réinitialisation de votre mot de passe
{% endblock %}

{% block message %}
    <p>
        Bonjour {{ name }}, 
        <br/>
        <br/>Voici le lien permettant de modifier votre mot de passe.
    </p>
    <p>
        <a href="{{ signedUrl|raw }}" class="btn btn-primary">
            Pour continuer, c'est ici
        </a>
        <span style="display: block; text-align: right;">
            (Ce lien expire le {{ expiresAt|date("d/m/Y") }} à {{ expiresAt|date("H\\hi") }})
        </span>
    </p>
    <br/>
    <br/>
    <p>
        À votre service,
        <br/>
    </p>
{% endblock %}
